venv/
Data/.ipynb_checkpoints/
Data/textocr_dataset/train_val_images
Data/textocr_dataset/.ipynb_checkpoints/
Data/textocr_dataset/annot.csv
Data/images/
Data/Anotaciones/
Training/.ipynb_checkpoints/